<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'MiAppInicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'AppEntrada' %}">Entrada</a>
                <a class="navbar-brand" href="{% url 'AppSalida' %}">Salida</a>
                <a class="navbar-brand" href="{% url 'AppEstacionamiento' %}">Estacionamiento</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
</nav>
        